/* Setup */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin-top: 60px;
}

footer {
    flex-shrink: 0;
}

.skip-link {
    position: fixed;
    top: -40px;
    left: 10px;
    background-color: #333;
    color: white;
    padding: 5px;
    z-index: 1000;
    transition: top 0.3s;
}

ul.main-desktop {
    display: flex;
}

.main-desktop li {
    list-style: none;
    padding-left: 0;
    margin-right: 15px;
}


/* Footer */

ul.footer_menu {
    padding-left: 0;
}

.footer_menu>li {
    list-style: none;
    line-height: 2.8;
}

.footer_menu>li>a {
    text-decoration: none;
}


/* Mobile */

@media (max-width: 576px) {}


/* tablet and Medium Screen */

@media (min-width: 577px) and (max-width: 768px) {}


/* Desktop and large screen */

@media (min-width: 769px) and (max-width: 992px) {}


/* X-Large Screen */

@media (max-width: 993px) {}