/* Setup */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

main {
    flex-grow: 1;
    margin-top: 60px;
}

footer {
    flex-shrink: 0;
}

.skip-link {
    position: fixed;
    top: -40px;
    left: 10px;
    background-color: #333;
    color: white;
    padding: 5px;
    z-index: 1000;
    transition: top 0.3s;
}

a {
    text-decoration: none
}

.product-area {
    margin-bottom: 12px
}


/* Business Branding */


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;600;700&family=Mulish:wght@200;300;500;600;700;800;900&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    font-weight: 600;
}

h2,
h3,
h4 {
    font-weight: 500;
}

h5,
h6 {
    font-weight: 400;
}

p,
li,
a,
button {
    font-family: 'Mulish', sans-serif;
}

p,
a {
    font-weight: 300;
}

li {
    font-weight: 200;
}

button {
    font-weight: 400;
}


/* Color Scheme */

body {
    background-color: #fcf6da;
}

main {
    padding: 20px 0;
}

.main_menu a {
    font-weight: 400;
}

.popout_menu a li {
    font-weight: 400;
    color: #484C5B;
}

.popout_menu a li:hover {
    color: #449C4D;
}

.menu_mobile_button a {
    color: #484c48;
    font-size: 18px;
    font-weight: 400;
}

.menu_mobile_button a:hover {
    color: #449C4D;
}

.main_menu li a {
    color: #484C5B;
}

.main_menu li a:hover {
    color: #449C4D;
}

h1 {
    color: #367E3C;
}

h2 {
    color: #4cac55;
}

h3 {
    color: #81879C;
}

h5 {
    color: #CF447C;
}

p {
    color: #595F72;
}

.category-items a {
    color: #f88435;
}

footer {
    background-color: #D3D6E0;
}

footer a,
p {
    color: #484C5B;
}

footer a {
    font-weight: 400;
}

footer a:hover {
    color: #CF447C;
}

h3.font-color {
    color: #CF447C;
}

.cta-login a {
    color: #CF447C;
    text-decoration: underline;
}

.breadcrumb-item a {
    color: #CF447C;
}

.juice-one {
    color: #5583AC;
    border: #5583AC solid 2px;
    padding: 5px 17px;
    border-radius: 20px;
}

a {
    color: #5583AC;
}

.juice-one:hover {
    color: #fff;
    background-color: #5583AC;
}

.author {
    font-weight: bold;
    color: #595F72;
}


/* end of color scheme */

ul.main-desktop {
    display: flex;
}

.main-desktop li {
    list-style: none;
    padding-left: 0;
    margin-right: 15px;
}


/* Footer */

ul.footer_menu {
    padding-left: 0;
}

.footer_menu>li {
    list-style: none;
    line-height: 2.8;
}

.footer_menu>li>a {
    text-decoration: none;
}

footer {
    padding-top: 50px;
}


/* Mobile */

@media (max-width: 576px) {
    body {
        margin-top: 130px;
    }
}


/* tablet and Medium Screen */

@media (min-width: 577px) and (max-width: 768px) {
    body {
        margin-top: 130px;
    }
}


/* Desktop and large screen */

@media (min-width: 769px) and (max-width: 992px) {
    body {
        margin-top: 150px;
    }
}


/* X-Large Screen */

@media (min-width: 993px) {
    body {
        margin-top: 100px;
    }
}